---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import { Hero } from '../components/Hero';
import { LogoStrip } from '../components/LogoStrip';
import { AudienceDoors } from '../components/AudienceDoors';
import { ProofSection } from '../components/ProofSection';
import { FeatureSection } from '../components/FeatureSection';
import { ProcessSection } from '../components/ProcessSection';
import { TrustSection } from '../components/TrustSection';
import { AlsoAvailable } from '../components/AlsoAvailable';
import { ContactSection } from '../components/ContactSection';
---

<Layout
    title="Cloudzeta | AWS Advanced Partner & China Connectivity for Fintech and Finance"
    description="AWS built and run properly by an Advanced Partner in Sydney & Hong Kong, plus website and MetaTrader 4/5 acceleration into mainland China via premium fibre routes. Trusted by global fintech and finance brands."
>
    <Navbar client:load />
	<main>
		<Hero client:load />
        <LogoStrip client:visible />
        <AudienceDoors client:visible />
        <ProofSection client:visible />
        <FeatureSection client:visible />
        <ProcessSection client:visible />
        <TrustSection client:visible />
        <AlsoAvailable client:visible />
        <ContactSection client:visible />
	</main>
</Layout>
